<p id="notice"><%= notice %></p>

<p>
  <strong>Movildestino:</strong>
  <%= @message.movildestino %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Movilorigen:</strong>
  <%= @message.movilorigen %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
